html {
    --pinkly-bright-pink: #da4c80;   /* rose vif */
    --pinkly-light-pink: #f6cadb;   /* rose vif */
    --pinkly-dark-blue: #10101E;  /* Bleu foncé */
    --pinkly-light-grey: #f8f9fa;
    --pinkly-danger-red: #FF0000;
  }